@using AwesomeIt.Helpers;
@model AwesomeIt.Models.FrontpageModel

@{
    Layout = FilePathHelpers.GetLayout();
}
<h1>@Model.Header</h1>
<p>@Model.BodyText</p>

<div class="box">
    <div class="box-content">
        <h3>Nyt projekt</h3>
        <p>Opret et nyt projekt og inviter folk til projektet</p>
    </div>
    <span>+</span>
</div>

<div class="box">
    <div class="box-content">
        <h3>Ressource management</h3>
        <p>Se et overblik over tilgængelige ressourcer, og planlæg hvordan de skal bruges</p>
    </div>
    <span>+</span>
</div>

<div class="box">
    <div class="box-content">
        <h3>Forum</h3>
        <p>Diskussions-forum, for generelle ting der ikke er tilknyttet nogle projekter</p>
    </div>
    <span>+</span>
</div>

<div class="box">
    <div class="box-content">
        <h3>Nyt område...</h3>
        <p>Find selv på flere områder!</p>
    </div>
    <span>+</span>
</div>